# Luna Server
LUNA_SERVER_HOST=127.0.0.1
LUNA_SERVER_PORT=4000

# Luna Agent
LUNA_AGENT_SERVER_URL=ws://127.0.0.1:4000
LUNA_AGENT_DEVICE_ID=notebook-2
LUNA_AGENT_DEVICE_NAME=Notebook 2
LUNA_AGENT_DEVICE_HOSTNAME=notebook-2.local

# Luna Web
NEXT_PUBLIC_LUNA_SERVER_URL=http://127.0.0.1:4000
